body
{
    background: linear-gradient(#91CA60,#607D94);
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: #2A004B;
}
.n404
{
    width: 100%;
    height: 645px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.n404__img
{
    animation: .8s infinite beatHeart;
}
.n404__label
{
    color: white;
}
@keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .footer
{
    display: flex;
    align-items: center;
    height: 119px;
    width: 100%;
    background-color: #607D95;
}
.footer a
{
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
}
.footer a:hover
{
    text-decoration: underline;
}